html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.frame iframe {
	border: none;
	width: 100%;
	height: 100%;
}

.frame {
	height: 100%;
}

.page{
	display: flex;
	flex-direction: row;
	height: 100%;
}

.left_panel{
	background-color: #636a6e;
	width: 20%;
	height: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.left_panel div, .right_panel div {
	font-size:2.5em;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-family: system-ui;
	font-weight: bold;
	padding: 5% 0 0 0;
}

.frame {
	flex-grow: 1;
	margin: auto;
	text-align: center;
}

.right_panel{
	background-color: #636a6e;
	width: 20%;
	height: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin-right: 0;
}

.left_panel button, .right_panel button{
	text-align: justify;
	background-color: #474c4f;
	color: white;
	list-style: none;
	text-align: center;
	width: 80%;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	border-radius: 20px;
	padding: 1em;
	font-family: system-ui;
	font-size: 1.5em;
	font-weight: bold;
	border: none;
}

.left_panel button:hover{
	background-color: #2E3133;
}

.right_panel button:hover{
	background-color: #2E3133;
}
