<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Turret Interface</title>
		<link rel="stylesheet" href="../static/css/styles.css">
		<script>
			window.onload = function(){
				document.getElementById('Jog').addEventListener('click', ()=>{
					document.getElementById('frame_inner').setAttribute('src','jog.html');
				});
				document.getElementById('Program').addEventListener('click', ()=>{
					document.getElementById('frame_inner').setAttribute('src','program.html');
				});
				document.getElementById('Settings').addEventListener('click', ()=>{
					document.getElementById('frame_inner').setAttribute('src','settings.html');
				});
                document.getElementById('Graphs').addEventListener('click', ()=>{
					document.getElementById('frame_inner').setAttribute('src','graphs.html');
				});
			}
		</script>
	</head>
	<body> 
		<div class="page">
			<section class="left_panel" id="left_panel">
				<div>ACTIONS</div>
				<button id="Jog">Jog</button>
				<button id="Program">Program Edit</button>
				<button id="Settings">Settings</button>
                <button id="Graphs">Graphs</button>
			</section>
            <section class="frame">
				<iframe id="frame_inner" src="graphs.html"></iframe>
			</section>
		</div>
	</body>
</html>
